.input-field input[type=text]: focus{
	border-bottom: 1px solid #f8bbd0 ;
	box-shadow: 0 1px 0 0 #000;
}
.input-field textarea[type=text]: focus{
	border-bottom: 1px solid #f8bbd0 ;
	box-shadow: 0 1px 0 0 #000;
}

h4{
	text-align:center;
}

textarea {
    height: 190px;
}

/*.form_class{
    position: absolute;
    right: 25%;
	top: 23%;
    width:33em;
	display: block;
}*/

h1{
	text-align:center;
}

/*.contact_class{
    margin-left: 200px;
	width: 20em;
}*/

p{
    font-size: 1.2em;
    text-align: justify;
}

 .height1 {
      height: 700px;
 }

 .height2 {
      height: 600px;
 }
 
.paralaxText{
    position: absolute;
    width: 100%;
}

.topMargin{
    margin-top: 40%;
}

.center-text{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.floatRight{
    display: block;
    clear: both;
    float: right;
}